.coursesTable, .facilitiesTable, .rankingTable, .cutoffTable {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.coursesTable th,
.facilitiesTable th,
.rankingTable th,
.cutoffTable th {
  background-color: #e6f7ff; /* Light blue background for headers */
  padding: 10px;
}

.coursesTable td, .facilitiesTable td, .rankingTable td, .cutoffTable td {
  border: 1px solid #ddd;
  padding: 10px;
}

.coursesTable tr:hover,
.facilitiesTable tr:hover,
.rankingTable tr:hover,
.cutoffTable tr:hover {
  background-color: #f0f8ff; /* Very light blue on hover */
}

.coursesTable tr:nth-child(even),
.facilitiesTable tr:nth-child(even),
.rankingTable tr:nth-child(even),
.cutoffTable tr:nth-child(even) {
  background-color: #f9f9f9; /* Light gray for even rows */
}

.collegeImage {
  width: 100%;
  height: 200px; 
  object-fit: cover; 
  transition: transform 0.3s ease; 
  cursor: pointer; 
}

.collegeImage:hover {
  transform: scale(1.05); 
}

.mainImage {
  width: 50%; 
  height: 400px; 
  object-fit: cover; 
  transition: transform 0.3s ease; 
  cursor: pointer; 
}

/* CollegeDetails.module.css */
.detailsTable,
.coursesTable,
.facilitiesTable,
.rankingTable,
.cutoffTable {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.detailsTable th,
.coursesTable th,
.facilitiesTable th,
.rankingTable th,
.cutoffTable th {
  background-color: #2c3e50; /* Header background color */
  color: #ffffff; /* Header text color */
  padding: 12px;
  text-align: left;
}

.detailsTable td,
.coursesTable td,
.facilitiesTable td,
.rankingTable td,
.cutoffTable td {
  background-color: #ffffff; /* Cell background color */
  color: #333333; /* Cell text color */
  padding: 10px;
  border: 1px solid #dcdcdc; /* Light border for cells */
}

h1, h2, h3, h4 {
  color: #2c3e50; /* Color for headings */
}


@media (max-width: 768px) {
  .collegeDetailsContainer {
    padding-top: 60px; /* Adjust for smaller screens */
  }
}
.collegeImage {
  border: 2px solid #2c3e50; /* Change the color and width as needed */
  border-radius: 8px; /* Optional: to round the corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: to add some shadow */
  transition: transform 0.3s; /* Optional: for a smooth scaling effect */
}

.collegeImage:hover {
  transform: scale(1.05); /* Optional: slightly scale the image on hover */
}
.collegeDetailsContainer {
  border: 1px solid #dcdcdc; /* Light border color */
  border-radius: 8px; /* Optional: for rounded corners */
  padding: 20px; /* Padding inside the container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds shadow for depth */
  background-color: #ffffff; /* Optional: background color */
}